/* format */
a{
  text-decoration: none;
  color: #e429e4;
}

a:hover{
  text-decoration: none;
  color: #e966e9;
}

/* sidebar */
.sidebar p.lead{
  font-size: 20px;
}

.sidebar ul {
  margin: 0 auto 20px;
  padding: 0;
  text-align: center;
}

.sidebar ul li {
  display: inline-block;
  margin: 5px;
}

.sidebar ul li a span i:nth-child(1) {
  color: #484848;
}

.sidebar ul li a span i:nth-child(2) {
  color: white;
}

.sidebar ul li a span:hover i:nth-child(1) {
  color: #e966e9;
}

.sidebar ul li a span:hover i:nth-child(2) {
  color: #333;
}

.sidebar p.sidebar-copyright {
  font-size: 14px;
}


/* home */
.posts .post-info {
  padding-top: 1em;
  padding-left: 2em;
  font-size: 16px;
  color: #777;
}

a.tag-wrapper {
  display: inline-block;
  color: white;
  background-color: #e966e9;
  border-radius: 5px;
  padding: 0 7px;
}

a.tag-wrapper:hover{
  background-color: #ea79ea;
}